*.a
*.so
*.cbp
*.exe
*.tcl
CTestTestfile.cmake
CMakeCache.txt
CMakeFiles
Makefile
Testing
cmake_install.cmake
http/http1/tests/output*
base/include/ESBConfig.h
unit-tf/include/ESTFConfig.h
.idea
*-test
*-test-2
*-gtest
_deps
*_include.cmake
*_tests.cmake
